<% include ../../public/shareHeader.ejs %>
<video id="mp4" poster="<%= config.wapcsspath %>/images/game/laohuji/share.gif" style="display: none;">
    <source src="<%= config.wapcsspath %>/images/game/laohuji/share.gif" type="video/mp4">
    Your browser does not support the mp4 video codec.
</video>

<div id="download">
	<div class="bg"></div>
	<a href="javascript:void(0)">
		<img src="<%= config.wapcsspath %>/images/game/laohuji/logo.png" alt="gomepluslogo">
		<span class="down_ios" style="display: none;">
			Download GOMEPLUS at App Store to get the greatest discount & rupee!!
		</span>
		<span class="down_android">
			Download GOMEPLUS at Google Play to get the greatest discount & rupee!!
		</span>
	</a>
</div>
<article id="main">
	<section class="head">
		<div class="price">
			<dl class="clearfix">
				<dd>0</dd><dd>0</dd>
				<dd>0</dd><dd>0</dd>
				<dd>0</dd>
			</dl>
		</div>
	</section>
	<section class="content">
		<ul class="clearfix">
			<li class="first"></li>
			<li class="second"></li>
			<li class="third"></li>
		</ul>
	</section>
	<section class="foot">
		<ul class="ctls clearfix">
			<li class="times">
				<img src="<%= config.wapcsspath %>/images/game/laohuji/time.png" alt="times"/>
				<p class="nums">0</p>
			</li>
			<li class='go btn'></li>
			<li class="sign btn"></li>
		</ul>
		<ul class="btns clearfix">
			<li class="btn_task btn" type="task"></li>
			<!-- <li class="btn_rule btn" type="rules"></li>
			<li class="btn_gift btn" type="gift"></li> -->
			<li class="btn_share btn" type="share"></li>
			<li class="btn_download btn" type="download" style="display: none;"></li>
		</ul>
	</section>
</article>
<article id="activity">
	<section class="rules">
		<div class="acty_head">
			<span>Activity Rules</span>
		</div>
		<ul>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>1. </span>
					<span class="txt">From 18th April 2017 0:00 till 9th May 2017 23:59:59, kindly visit the slot machine WAP page, or open Gomeplus APP->Me->My Treasures, you are able to participate the slot machine game to win big bonus.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>2. </span>
					<span class="txt">To complete “sign” the slot machine by daily basis or “share” this activity to Facebook are able to increase the opportunities to participate the slot machine game. In this promotion campaign, each of the account can obtain up to 10 slot opportunities per day to win bonus by “sign” and “share”.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>3. </span>
					<span class="txt">The same device can be used for only one user to sign in. In case of multiple users sign in the APP on the same device, only the first user sign in the device will be captured and recorded on the same day to obtain the slot opportunity by “sign” and “share”.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>4. </span>
					<span class="txt">The game rewards will be accumulated into your account after winner announcement, you only require to download GOMEPLUS APP, sign in and enter into “My balance” to redeem the rewards if awarded which can be converted the corresponding amount to Flipkart gift card as tabulated below:</span>
					<div style="clear: both;"></div>
					<dl class="awards clearfix">
						<dd class="item4">
							<em></em><p>₹50</p>
						</dd>
						<dd class="item5">
							<em></em><p>₹30</p>
						</dd>
						<dd class="item1">
							<em></em><p>₹10</p>
						</dd>
						<dd class="item2">
							<em></em><p>₹5</p>
						</dd>
						<dd class="item3">
							<em></em><p>₹1</p>
						</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>5. </span>
					<span class="txt">Images used in the game is only icon, there is no other meaning.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>6. </span>
					<span class="txt">Download GOMEPLUS App right away. You won't miss the chance to get impressive amount of cash as rewards.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>7. </span>
					<span class="txt">The final interpretation of this activity is fully owned by GOMEPLUS.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>8. </span>
					<span class="txt">All of the activities which can be obtained in the  App is unrelated with Google Play.  GOMEPLUS is responsible for that.Google Play don not provide any protection and take on legal obligation.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>9. </span>
					<span class="txt">All of the activities which can be obtained in the  App is unrelated with Facebook.  GOMEPLUS is responsible for that.Facebook don not provide any protection and take on legal obligation.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="clearfix">
					<span>10. </span>
					<span class="txt">All of the activities which can be obtained in the  App is unrelated with App Store.  GOMEPLUS is responsible for that.App Store don not provide any protection and take on legal obligation.</span>
				</a>
			</li>
		</ul>
	</section>
	<section class="state">
		<div class="acty_head">
			<span>Activity Award</span>
		</div>
		<p>The game rewards are able to be redeemed with corresponding value of Flipkart gift card. Don’t wait and just grab it.</p>
	</section>
</article>
<div id="popup">
	<div class="mask"></div>
	<div class="result">
		<div class="win">
			<img src="<%= config.wapcsspath %>/images/game/laohuji/win.png">
			<span class="bonus">123</span>
		</div>
		<div class="box">
			<img class="box_deco" src="<%= config.wapcsspath %>/images/game/laohuji/box_deco.png" alt="box_decorate">
			<div class="box_head">
				<span class="task">DAILY  TASK</span>
				<span class="reward">MY REWARD</span>
			</div>
			<div class="box_content">
				<div class="task">
					<ul>
						<li class="loginTaskStatus">
							<a href="javascript:void(0)">
								<span>1. </span>
								<span class="txt">Daily check-in within APP can get 5 times to win the opportunity;</span>
							</a>
							<img src="<%= config.wapcsspath %>/images/game/laohuji/hook.png">
						</li>
						<li class="sharingTaskStatus">
							<a href="javascript:void(0)">
								<span>2. </span>
								<span class="txt">Daily sharing of goods & slot machines page to Facebook  you can get extra 5 times to win the opportunity;</span>
							</a>
							<img src="<%= config.wapcsspath %>/images/game/laohuji/hook.png">
						</li>
					</ul>
				</div>
				<div class="reward">
					<h3 class="title">
						Total access: <span class="amount">0</span><span class="symbol"></span>
					</h3>
					<div class="re_con">
						<h4>Time:</h4>
						<div class="swiper-container">
							<ul class="swiper-wrapper"></ul>
						</div>
					</div>
				</div>
				<div class="download">
					<p class="txt android">Do you want to download to Google Play?</p>
					<p class="txt ios">Do you want to download to App Store?</p>
					<ul class="down_btns clearfix">
						<li class="yes btn"></li>
						<li class="no btn"></li>
					</ul>
				</div>
			</div>
			<img class="close" src="<%= config.wapcsspath %>/images/game/laohuji/close.png" alt="close">
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="<%= config.wapcsspath %>/css/common/plugin/swiper.css">
<% include ../../public/shareDialog.ejs %>
<% include ../../public/footer.ejs %>