<% include ../public/shareHeader.ejs %>
<article>
	<section>
		<img src="<%= config.wapcsspath %>/images/game/luckydraw/banner.png" alt="banner"/>
	</section>
</article>
<article class="main">
	<section class="content">
		<ul class="title clearfix">
			<li class="disabled"><a href="javascript:void(0)" class="pre"><em></em></a></li>
			<li class="date">
				<a href="javascript:void(0)">
					<span>May.03</span>
				</a>
			</li>
			<li class="disabled"><a href="javascript:void(0)" class="next"><em></em></a></li>
		</ul>
		<div class="nolist">
			<p class="noimg">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/nolist.png" alt="nolist"/>
			</p>
			<p class="tip1 tip"></p>
			<p class="tip2 tip"></p>
		</div>
		<ul class="list" style="display: none;"></ul>
		<ul class="banner clearfix">
			<li class="left"><a href="javascript:void(0)"><em></em></a></li>
			<li class="text">
				<a href="javascript:void(0)">List of Winners</a>
			</li>
			<li class="right"><a href="javascript:void(0)"><em></em></a></li>
		</ul>
	</section>
</article>
<article class="footer">
	<section class="content">
		<ul class="banner clearfix">
			<li class="left"><a href="javascript:void(0)"><em></em></a></li>
			<li class="text">
				<a href="javascript:void(0)">Activity Rules</a>
			</li>
			<li class="right"><a href="javascript:void(0)"><em></em></a></li>
		</ul>
		<ul class="rules">
			<li>
				<a href="javascript:void(0)">
					1. Users who successfully place an order via GOMEPLUS website, WAP or GOMEPLUS APP between 0:00 on May 3, 2017, and 23:59:59 on May 13, 2017, can participate in the lucky draw.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					2. Users with the same mobile phone numbers, payment accounts, GOMEPLUS accounts or hardware facilities are regarded as one user.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					3. During the event, Place order enjoy cashback win lucky draw to earn ₹100 Flipkart gift card. Each user has one chance per day.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					4. Users making transactions between 03-05-2017 till 13-05-2017 via GOMEPLUS are eligible for participating lucky draw. More transations more opportunities.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					5. Lucky draw results will be announced at 12 o'clock the next day . Winners will receive the gift card in their accounts within 14 days after the announcement. Winning prize will be forfeit if order been cancelled. Users can check lucky draw results on the activity web page.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					6. The final interpretation of this activity is fully owned by GOMEPLUS.
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					7. All activities on the website and APP are irrelevant to Google Play, App Store and Facebook. GOMEPLUS is responsible for the activities. Google Play does not provide any protection or bear any legal obligations.
				</a>
			</li>
		</ul>
		<p>
			<a href="javascript:void(0)" class="share">SHARE</a>
			<a href="javascript:void(0)" class="share0">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/btn_share.png" alt="share">
			</a>
		</p>
		<ul class="bgs">
			<li class="first">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/img_bg_1.png" alt="bg">
			</li>
			<li class="second">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/img_bg_2.png" alt="bg">
			</li>
			<li class="third">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/img_bg_3.png" alt="bg">
			</li>
			<li class="fourth">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/img_bg_4.png" alt="bg">
			</li>
			<li class="fifth">
				<img src="<%= config.wapcsspath %>/images/game/luckydraw/img_bg_5.png" alt="bg">
			</li>
		</ul>
	</section>
</article>
<% include ../public/footer.ejs %>